[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
rx = "*"
pandas = "*"
influxdb = "*"
apscheduler = "*"
dateparser = "*"
retrying = "*"
dataclasses = "*"
prometheus_client = "*"
cachetools = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.6"
